@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1400px;
}

.bg {
  background: rgba(99, 159, 179, 0.69);
  background: linear-gradient(
    90deg,
    rgba(99, 159, 179, 0.6979166666666667) 0%,
    rgba(143, 152, 156, 0.6418942577030813) 100%
  );
}
.navbar-a {
  display: none;
}
.navbar:hover > div > span > .navbar-a {
  display: flex;
  width: 100%;
  justify-content: start;
}

.span {
  width: 100%;
  display: grid;
  gap: 8px;
  grid-template-columns: 40px 1fr;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 10px 10px 10px 20px;
}

span:hover{
  background: white;
}